<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<h1>書籍情報一覧</h1>
	<p><a href="/book-add/input">新規書籍登録</a></p>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>著者</th>
			<th>貸出状況</th>
			<th>カテゴリ</th>
			<th>更新</th>
		</tr>
		<tr th:each="book : ${bookList}" th:object="${book}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{author}"></td>
			<td th:text="*{status}"></td>
			<td th:text="*{category.name}"></td>
			<td>
				<!-- Thymeleafを使って動的にURLを生成 -->
				<a th:href="@{/book-rent/__*{id}__}">
					<button>更新</button>
				</a>
			</td>
		</tr>
	</table>
	<p>
		<a href="/menu">メニューに戻る</a>
	</p>
</body>
</html>