<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍登録確認</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<h1>書籍登録確認</h1>
	<table th:object="${bookAddForm}"><!-- ← オブジェクトを指定 -->
		<tr>
			<td>タイトル</td>
			<td th:text="*{title}"></td> <!-- ← フィールド名のみの指定 -->
		</tr>
		<tr>
			<td>著者</td>
			<td th:text="*{author}"></td>
		</tr>
		<tr>
			<td>画像</td>
			<td><img th:src="@{/img/__*{file.getOriginalFilename()}__}" /></td>
		</tr>
	</table>
	<form action="/book-add/execute" method="post">
	<input type="submit" value="登録" />
	</form>
	<a href="input">戻る</a>
</body>
</html>