<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍登録入力</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<h1>書籍登録入力</h1>
	<form action="/book-add/confirm" method="post" th:object="${bookAddForm}" enctype="multipart/form-data">
		<!-- エラーメッセージを表示（纏めて） -->
		<div class="error" th:if="${#fields.hasAnyErrors()}">
			<ul>
				<li th:each="e : ${#fields.detailedErrors()}">[[${e.message}]]</li>
			</ul>
		</div>
		<table>
			<tr>
				<!-- ↓ messages.propertiesから文字列を表示 -->
				<td th:text="#{bookAddForm.title}"></td>
				<td>
					<input type="text" th:field="*{title}" /><br>
					<!-- 単項目毎にエラーを表示 -->
					<span class="error" th:errors="*{title}"></span>
				</td>
			</tr>
			<tr>
				<!-- ↓ messages.propertiesから文字列を表示 -->
				<td th:text="#{bookAddForm.author}"></td>
				<td>
					<input type="text" th:field="*{author}" /><br>
					<span class="error" th:errors="*{author}"></span>
				</td>
			</tr>
			<tr>
				<td>画像</td>
				<td>
					<input type="file" th:field="*{file}" /><br>
					<span class="error" th:errors="*{file}"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="確認" />
	</form>
</body>
</html>